In [7]:
import pandas as pd
import glob
import dropbox as db
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
!ln -s /Users/matthiashugli/Virtualenvs/youth-base/youth-base/config.py config.py
from config import dbx_token
dbx = db.Dropbox(dbx_token)

event_path = '/Users/matthiashugli/Dropbox/bucket/dataset-wyscout/events_Germany.json'


events = pd.DataFrame()
for filename in glob.glob(event_path):
    file = pd.read_json(filename)
    file.insert(1, 'filename', filename)
    events = events.append(file)

ln: config.py: File exists

In [25]:
player_path = '/Users/matthiashugli/Dropbox/bucket/dataset-wyscout/players.json'

players = pd.DataFrame()
player_file = pd.read_json(player_path)
players = players.append(player_file)

In [26]:
players['position'] = players.role.apply(pd.Series)['name']
players = players[players['position'] == 'Goalkeeper']
players.drop(columns=['passportArea', 'weight', 'middleName', 'currentTeamId', 'role', 'birthArea', 'shortName', 'currentNationalTeamId'], inplace=True)

In [27]:
events = events.merge(players, left_on=events.playerId, right_on=players.wyId, how='inner')

In [37]:
shot_against = events[events['position'] == 'Goalkeeper']
shot_against.groupby(['eventId']).tags.apply(lambda x: pd.DataFrame(x.values[0])).reset_index()

    eventId  level_1      id
0         1        0   501.0
1         1        1   701.0
2         1        2  1802.0
3         2        0  1702.0
4         7        0  1401.0
5         8        0  1801.0
6         9        0  1206.0
7         9        1  1801.0
8        10        0   402.0
9        10        1   201.0
10       10        2  1213.0
11       10        3  1802.0

In [6]:
#events.head()
#players.head()
#events.count()
#events.groupby(['eventName', 'subEventName']).eventId.count()
events[events.eventName == 'Save attempt'].tail()

,key_0,eventId,filename,subEventName,tags,playerId,positions,matchId,eventName,teamId,...,eventSec,subEventId,id,firstName,lastName,birthDate,height,wyId,foot,position
26675,14822,9,/Users/matthiashugli/Dropbox/bucket/dataset-wy...,Reflexes,"[{'id': 101}, {'id': 1205}, {'id': 1802}]",14822,"[{'y': 100, 'x': 100}, {'y': 40, 'x': 10}]",2517020,Save attempt,2481,...,2517.330781,90,247152490,Andreas,Luthe,1987-03-10,195,14822,right,Goalkeeper
26698,14822,9,/Users/matthiashugli/Dropbox/bucket/dataset-wy...,Reflexes,"[{'id': 1203}, {'id': 1801}]",14822,"[{'y': 100, 'x': 100}, {'y': 42, 'x': 4}]",2517039,Save attempt,2481,...,2294.344382,90,251254015,Andreas,Luthe,1987-03-10,195,14822,right,Goalkeeper
26704,14822,9,/Users/matthiashugli/Dropbox/bucket/dataset-wy...,Reflexes,"[{'id': 101}, {'id': 1204}, {'id': 1802}]",14822,"[{'y': 100, 'x': 100}, {'y': 53, 'x': 10}]",2517039,Save attempt,2481,...,244.789908,90,251254292,Andreas,Luthe,1987-03-10,195,14822,right,Goalkeeper
26717,14822,9,/Users/matthiashugli/Dropbox/bucket/dataset-wy...,Reflexes,"[{'id': 101}, {'id': 1201}, {'id': 1802}]",14822,"[{'y': 100, 'x': 100}, {'y': 67, 'x': 10}]",2517039,Save attempt,2481,...,1203.607650,90,251254535,Andreas,Luthe,1987-03-10,195,14822,right,Goalkeeper
26745,333477,9,/Users/matthiashugli/Dropbox/bucket/dataset-wy...,Reflexes,"[{'id': 1205}, {'id': 1801}]",333477,"[{'y': 0, 'x': 0}, {'y': 35, 'x': 18}]",2517040,Save attempt,2449,...,1860.826622,90,251299375,Alexander,N\u00fcbel,1996-09-30,193,333477,right,Goalkeeper